In [25]:
import pandas as pd
url = r'C:\Users\gioiv\OneDrive\Pictures\Documents\POWER BI SQL\Project\ZoomChart\Credit_Risk_Dataset_Onyx_Data_September_25.xlsx'
df = pd.read_excel(url)
print(df)

        client_ID  person_age  person_income person_home_ownership  \
0      CUST_00001          22          59000                  RENT
1      CUST_00002          21           9600                   OWN
2      CUST_00003          25           9600              MORTGAGE
3      CUST_00004          23          65500                  RENT
4      CUST_00005          24          54400                  RENT
...           ...         ...            ...                   ...
32576  CUST_32577          57          53000              MORTGAGE
32577  CUST_32578          54         120000              MORTGAGE
32578  CUST_32579          65          76000                  RENT
32579  CUST_32580          56         150000              MORTGAGE
32580  CUST_32581          66          42000                  RENT

       person_emp_length      loan_intent loan_grade  loan_amnt  \
0                   10.0         PERSONAL          D      35000
1                    5.0        EDUCATION          B       1000
2                    1.0          MEDICAL          C       5500
3                    4.0          MEDICAL          C      35000
4                    8.0          MEDICAL          C      35000
...                  ...              ...        ...        ...
32576                1.0         PERSONAL          C       5800
32577                4.0         PERSONAL          A      17625
32578                3.0  HOMEIMPROVEMENT          B      35000
32579                5.0         PERSONAL          B      15000
32580                2.0          MEDICAL          B       6475

       loan_int_rate  loan_status  ...  city_latitude city_longitude  \
0              16.02            1  ...        43.6532       -79.3832
1              11.14            0  ...        43.6532       -79.3832
2              12.87            1  ...        51.6214        -3.9436
3              15.23            1  ...        49.2827      -123.1207
4              14.27            1  ...        42.8864       -78.8784
...              ...          ...  ...            ...            ...
32576          13.16            0  ...        49.2827      -123.1207
32577           7.49            0  ...        53.4808        -2.2426
32578          10.99            1  ...        53.4808        -2.2426
32579          11.48            0  ...        37.7749      -122.4194
32580           9.99            0  ...        46.8139       -71.2080

       employment_type loan_term_months loan_to_income_ratio    other_debt  \
0        Self-employed               36             0.593220   8402.453850
1            Full-time               36             0.104167   1607.802794
2            Full-time               36             0.572917   2760.505633
3            Part-time               12             0.534351   7155.286150
4            Part-time               36             0.643382  15626.153439
...                ...              ...                  ...           ...
32576        Part-time               36             0.109434  15721.464516
32577        Full-time               60             0.146875  29674.399348
32578       Unemployed               24             0.460526  21098.865051
32579    Self-employed               36             0.100000  26361.525753
32580        Full-time               60             0.154167   9397.997205

      debt_to_income_ratio open_accounts credit_utilization_ratio  \
0                 0.735635            14                 0.495557
1                 0.271646            10                 0.585436
2                 0.860469            14                 0.750732
3                 0.643592            15                 0.379333
4                 0.930628             4                 0.228103
...                    ...           ...                      ...
32576             0.406065            11                 0.892039
32577             0.394162             6                 0.191486
32578             0.738143            11                 0.678980
32579             0.275744             3                 0.223460
32580             0.377929             4                 0.429304

       past_delinquencies
0                       0
1                       3
2                       0
3                       0
4                       0
...                   ...
32576                   1
32577                   0
32578                   3
32579                   1
32580                   1

[32581 rows x 29 columns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_ID                   32581 non-null  object
 1   person_age                  32581 non-null  int64
 2   person_income               32581 non-null  int64
 3   person_home_ownership       32581 non-null  object
 4   person_emp_length           31686 non-null  float64
 5   loan_intent                 32581 non-null  object
 6   loan_grade                  32581 non-null  object
 7   loan_amnt                   32581 non-null  int64
 8   loan_int_rate               29465 non-null  float64
 9   loan_status                 32581 non-null  int64
 10  loan_percent_income         32581 non-null  float64
 11  cb_person_default_on_file   32581 non-null  object
 12  cb_person_cred_hist_length  32581 non-null  int64
 13  gender                      32581 non-null  object
 14  marital_status              32581 non-null  object
 15  education_level             32581 non-null  object
 16  country                     32581 non-null  object
 17  state                       32581 non-null  object
 18  city                        32581 non-null  object
 19  city_latitude               32581 non-null  float64
 20  city_longitude              32581 non-null  float64
 21  employment_type             32581 non-null  object
 22  loan_term_months            32581 non-null  int64
 23  loan_to_income_ratio        32581 non-null  float64
 24  other_debt                  32581 non-null  float64
 25  debt_to_income_ratio        32581 non-null  float64
 26  open_accounts               32581 non-null  int64
 27  credit_utilization_ratio    32581 non-null  float64
 28  past_delinquencies          32581 non-null  int64
dtypes: float64(9), int64(8), object(12)
memory usage: 7.2+ MB

In [27]:
df.isna().sum()

client_ID                        0
person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
gender                           0
marital_status                   0
education_level                  0
country                          0
state                            0
city                             0
city_latitude                    0
city_longitude                   0
employment_type                  0
loan_term_months                 0
loan_to_income_ratio             0
other_debt                       0
debt_to_income_ratio             0
open_accounts                    0
credit_utilization_ratio         0
past_delinquencies               0
dtype: int64

In [28]:
import numpy as np
mean_person = df['person_emp_length'].mean()
df['person_emp_length'].replace(np.nan, mean_person,inplace=True)
print(df)

        client_ID  person_age  person_income person_home_ownership  \
0      CUST_00001          22          59000                  RENT
1      CUST_00002          21           9600                   OWN
2      CUST_00003          25           9600              MORTGAGE
3      CUST_00004          23          65500                  RENT
4      CUST_00005          24          54400                  RENT
...           ...         ...            ...                   ...
32576  CUST_32577          57          53000              MORTGAGE
32577  CUST_32578          54         120000              MORTGAGE
32578  CUST_32579          65          76000                  RENT
32579  CUST_32580          56         150000              MORTGAGE
32580  CUST_32581          66          42000                  RENT

       person_emp_length      loan_intent loan_grade  loan_amnt  \
0                   10.0         PERSONAL          D      35000
1                    5.0        EDUCATION          B       1000
2                    1.0          MEDICAL          C       5500
3                    4.0          MEDICAL          C      35000
4                    8.0          MEDICAL          C      35000
...                  ...              ...        ...        ...
32576                1.0         PERSONAL          C       5800
32577                4.0         PERSONAL          A      17625
32578                3.0  HOMEIMPROVEMENT          B      35000
32579                5.0         PERSONAL          B      15000
32580                2.0          MEDICAL          B       6475

       loan_int_rate  loan_status  ...  city_latitude city_longitude  \
0              16.02            1  ...        43.6532       -79.3832
1              11.14            0  ...        43.6532       -79.3832
2              12.87            1  ...        51.6214        -3.9436
3              15.23            1  ...        49.2827      -123.1207
4              14.27            1  ...        42.8864       -78.8784
...              ...          ...  ...            ...            ...
32576          13.16            0  ...        49.2827      -123.1207
32577           7.49            0  ...        53.4808        -2.2426
32578          10.99            1  ...        53.4808        -2.2426
32579          11.48            0  ...        37.7749      -122.4194
32580           9.99            0  ...        46.8139       -71.2080

       employment_type loan_term_months loan_to_income_ratio    other_debt  \
0        Self-employed               36             0.593220   8402.453850
1            Full-time               36             0.104167   1607.802794
2            Full-time               36             0.572917   2760.505633
3            Part-time               12             0.534351   7155.286150
4            Part-time               36             0.643382  15626.153439
...                ...              ...                  ...           ...
32576        Part-time               36             0.109434  15721.464516
32577        Full-time               60             0.146875  29674.399348
32578       Unemployed               24             0.460526  21098.865051
32579    Self-employed               36             0.100000  26361.525753
32580        Full-time               60             0.154167   9397.997205

      debt_to_income_ratio open_accounts credit_utilization_ratio  \
0                 0.735635            14                 0.495557
1                 0.271646            10                 0.585436
2                 0.860469            14                 0.750732
3                 0.643592            15                 0.379333
4                 0.930628             4                 0.228103
...                    ...           ...                      ...
32576             0.406065            11                 0.892039
32577             0.394162             6                 0.191486
32578             0.738143            11                 0.678980
32579             0.275744             3                 0.223460
32580             0.377929             4                 0.429304

       past_delinquencies
0                       0
1                       3
2                       0
3                       0
4                       0
...                   ...
32576                   1
32577                   0
32578                   3
32579                   1
32580                   1

[32581 rows x 29 columns]

C:\Users\gioiv\AppData\Local\Temp\ipykernel_5768\3791619642.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['person_emp_length'].replace(np.nan, mean_person,inplace=True)